
<div class="stock-graph-container glass-bg-no-white">
    <div class="options">
        <div class="option period">
            <div class="select-container">
                <select>
                    <option>1 day</option>
                    <option>5 days</option>
                    <option>15 days</option>
                    <option>1 month</option>
                    <option>3 months</option>
                    <option>6 months</option>
                    <option>1 year</option>
                </select>
            </div>
        </div>
        <div class="option interval">
            <div class="select-container">
                <select>
                    <option>1 day</option>
                    <option>5 days</option>
                    <option>15 days</option>
                    <option>1 month</option>
                    <option>3 months</option>
                    <option>6 months</option>
                    <option>1 year</option>
                </select>
            </div>
        </div>
    </div>
    <div
        echarts
        [options]="chartOption"
        class="chart">
    </div>
</div>

<div class="stock-graph-container glass-bg-no-white">
    <div class="options">
        <div class="option period">
            <div class="select-container">
                <select>
                    <option>1 day</option>
                    <option>5 days</option>
                    <option>15 days</option>
                    <option>1 month</option>
                    <option>3 months</option>
                    <option>6 months</option>
                    <option>1 year</option>
                </select>
            </div>
        </div>
        <div class="option interval">
            <div class="select-container">
                <select>
                    <option>1 day</option>
                    <option>5 days</option>
                    <option>15 days</option>
                    <option>1 month</option>
                    <option>3 months</option>
                    <option>6 months</option>
                    <option>1 year</option>
                </select>
            </div>
        </div>
    </div>
    <div
        echarts
        [options]="chartOption"
        class="chart">
    </div>
</div>