.stock-graph-container {
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 1%;
  background-color: var(--card-surface-color);
  .options {
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    gap: 1%;
    .option {
      width: 100%;
      background: var(--background-color);
      border-radius: 4px;
    }
    .period,
    .interval {
      width: 45%;
    }
    .submit {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      background: var(--highlight-color);
      box-shadow:
        0px 2px 7px rgba(0, 0, 0, 0.5),
        inset 0px 1px 1px rgba(255, 255, 255, 0.2);
      transition: all 0.3s ease;
      border-radius: 4px;
      :active,
      :hover {
        cursor: pointer;
      }
      .submit-button {
        width: 100%;
        color: white;
        text-align: center;
      }
    }
    select {
      width: 100%;
    }
  }
}
.chart {
  height: 350px;
  width: 100%;
}
.loader-graph{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  color: var(--sidebar-bg-color);
}
.mat-progress-spinner circle, .mat-spinner circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--sidebar-bg-color) !important;
  color: var(--sidebar-bg-color) !important;
}
mat-spinner{
  color: var(--sidebar-bg-color) !important;
  stroke: var(--sidebar-bg-color) !important;
}
