.meta-stock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "normal-text";
    .stock-lister{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: radial-gradient(
            circle at center,
            #131313 0%,
            var(--background-color) 50%
        );
    }
}