.stock-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
select{
    width: 100%;
}
select:hover {
    cursor: pointer;
}

option{
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    :hover,
    :focus,
    :checked{
        cursor: pointer;
        background: rgb(40, 40, 40) !important;
    }
}