<div class="navbar-container">
  <div class="navbar-content">
    <div class="left-content">
      <div class="logo">FINTRADX</div>
    </div>
    <div class="right-content">
      <div class="icons">
        <div class="icon">
          <mat-icon
            class="material-icons--outline"
            fontIcon="extension"
            matTooltip="Extension"
            (click)="emitEvent()"
          ></mat-icon>
        </div>
        <div class="icon">
          <mat-icon
            class="material-icons--outline"
            fontIcon="settings"
            matTooltip="Settings"
          ></mat-icon>
        </div>
        <div class="icon">
          <mat-icon
            class="material-icons--outline"
            fontIcon="account_circle_outlined"
            matTooltip="Profile"
          ></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
