<div class="navbar-container">
  <div class="logo-content">
    <div class="logo">FINTRADX</div>
  </div>
  <div class="options">
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">dashboard</mat-icon>
      <div class="tooltip">Dashboard</div>
    </div>
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">business_center</mat-icon>
      <div class="tooltip">Business Center</div>
    </div>
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">settings</mat-icon>
      <div class="tooltip">Settings</div>
    </div>
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">list_alt_add</mat-icon>
      <div class="tooltip">Watchlist</div>
    </div>
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">dark_mode</mat-icon>
      <div class="tooltip">Dark Mode</div>
    </div>
  </div>
  <div class="profile">
    <div class="option">
      <mat-icon class="material-symbols-outlined thin-icon">account_circle</mat-icon>
    </div>
  </div>
</div>