/* You can add global styles to this file, and also import other style files */
@import "./fonts.scss";

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "normal-text", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  scrollbar-width: none;
  -ms-scrollbar-width: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:root {
  --background-color: #0a0908;
  --background-color-inputs: #ffffff10;
  --text-color: #eae0d5;
  --color3: #22333b;
  --color4: #c6ac8f;
  --color5: #5e503f;
}

.full-width{
  width: 100%;
}

select{
  background-color: var(--background-color-inputs);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  :focus{
    outline: none;
  }
  outline: none;
  font-family: "normal-text";
  :hover{
    cursor: pointer;
  }
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

option{
  background-color: var(--background-color);
  color: var(--text-color);
}

.glass-bg{
  background: linear-gradient(45deg, rgba(41, 41, 41, 0.256) 35%, rgb(164 164 164 / 12%) 50%, rgba(41, 41, 41, 0.256) 75%);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.027);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
}
.glass-bg-no-white{
  background: rgba(41, 41, 41, 0.256);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.027);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
}