.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
    padding: 0 2%;
    box-sizing: border-box;
    .details{
        width: 80%;
    }
    .lister{
        width: 20%;
    }
}
.stock-graph{
    width: 80%;
}